<div id="wrap">
  <div class="navbar navbar-inverse navbar-fixed-top navbar-simple" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to-animated "index" class="navbar-brand" animations="main:slideLeft"}}RPM{{/link-to-animated}}
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to-animated "entries" animations="main:slideLeft"}}Entradas{{/link-to-animated}}</li>
          {{#if session.isAuthenticated}}
          <li><a href=""><i class="fa fa-plus"></i></a></li>
           {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if session.isAuthenticated}}
              {{#if session.currentUser.profile}}
                <li>{{#link-to-animated "profile" session.currentUser.profile animations="main:slideLeft"}}Perfil{{/link-to-animated}}</li>
                 <li><a href="#" {{action "invalidateSession"}}>Salir</a></li>
              {{else}}
                <li>{{#link-to-animated "new_profile" animations="main:slideLeft"}}Crear perfil{{/link-to-animated}}</li>
                 <li><a href="#" {{action "invalidateSession"}}>Salir</a></li>
              {{/if}}
            {{else}}
              <li>{{#link-to-animated "login" animations="main:slideLeft"}}Ingresar{{/link-to-animated}}</li>
              <li>{{#link-to-animated "signup" animations="main:slideLeft"}}Crear cuenta{{/link-to-animated}}</li>
            {{/if}}
        </ul>
      </div>
    </div>
  </div>
  {{animated-outlet name="main"}}
</div>