<section class="container">
	<div class="page-header">
    <h3>Editar perfil</h3>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		{{#form-for controller wrapper="personFormWrapper"}}
			
				
				{{input age}}
			
			
				
				{{input name}}
			
			
				
				{{input last_name}}
			
			
				
				{{input avatar}}
			
			{{submit class="btn btn-success"}}
		{{/form-for}}
	</div>
</section>

