<div class="jumbotron">
	<div class="container text-center">
		<h1>Red Parlamentaria Nacional</h1>


		<p>
		{{#link-to-animated "entries" animations="main:slideLeft" class="btn btn-primary btn-lg"}}Ver entradas{{/link-to-animated}}
		</p>
	</div>
</div>
