// Typography
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Brand colors
$brand-primary: #4f8edd;
$brand-success: #85c844;
$brand-warning: #cba50d;
$brand-danger: #e72c3c;
$brand-info: #2bbce1;

// Navbar
$navbar-height: 40px;
$navbar-inverse-bg: #313338;

// Buttons
$btn-font-weight: 600;
$btn-default-bg: #e6e7e7;
$btn-default-border: #e6e7e7;

// Alerts and form states
$state-success-text: #527f26;
$state-success-bg: #ebf6e1;
$state-success-border: #b8df92;
$state-info-text: #157890;
$state-info-bg: #ddf4fb;
$state-info-border: #84d8ed;
$state-warning-text: #917608;
$state-warning-bg: #fbf3d0;
$state-warning-border: #f6dc6f;
$state-danger-text: #a81515;
$state-danger-bg: #fdf2f2;
$state-danger-border: #f29797;

// Forms
$input-border-radius: 0;
$input-border-focus: #2598f9;

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social/bootstrap-social";

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  // I am using 140px instead of 120px to give some room between #wrap and #footer
  // Otherwise footer will be almost touching your page content
  padding: 0 0 140px;
}

.inner-wrap {
top: 80px;
}

#footer {
  height: 120px;
  padding-top: 20px;
  background-color: $navbar-default-bg;
  border-top: 1px solid $navbar-default-border;
}

.alert {
  border-radius: 1px;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.navbar-brand {
  background-image: url(http://www.joyent.com/content/07-blog/722-joyent-to-sponsor-and-present-at-mongosv-2012/mongodb-leaf.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  padding-left: 40px;
  margin-left: 15px;
}



[class^="fa-"],
[class*="fa-"] {
  margin-right: 5px;
}

/*
.ember-script-hide p:first-of-type {
  display: none;
}*/

.entries-simple {
  border-bottom: 2px solid #ccc;
  padding: 25px;
  margin: 55px -15px;
  background: #f4f4f4;
}

.entries-simple hr {
    margin: 20px -25px;
    border-top: 1px solid #dbdcdb;
}




.ember-animated-container {
  top: 0;
  height: auto !important;
  width: auto; 
  margin-top: 75px;
}

